<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center style="margin: auto;">Main Menu</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin: 20px; background-color: white; opacity: 80%;">
    <ion-row>User: {{ fullname }}</ion-row>
    <br>
    <ion-row>
      <ion-img src="{{ selectedImage }}" class="containerpict"></ion-img>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button 
          expand="block"
          color="primary" 
          (click)="onTakePhoto()">
            <ion-icon name="camera"></ion-icon>
            <p>Take Photo</p>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button 
          expand="block"
          color="primary" 
          (click)="onChoosePhoto()">
            <ion-icon name="document-outline"></ion-icon> 
            <p>Choose Photo</p>    
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button 
          expand="block"
          color="primary" 
          (click)="onPredict()">
            Predict
        </ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12">
          Result : {{ result }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
